doctype html
html(lang="zh-cn")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 展示页
        link(rel="stylesheet", href="./static/css/showScreen.css")
    body
        .app
            .nine-part-box
                .box-item#box1 1
                .box-item#box2 2
                .box-item#box3 3
                .box-item#box4 4
                .box-item#box5 5
                .box-item#box6 6
                .box-item#box7 7
                .box-item#box8 8
                .box-item#box9 9
            .message
                .name
                    span 名字
                    span.js_name
                .address
                    span 产地
                    span.js_address
        script(src="./static/js/jquery.js") 
        script(src="./static/js/showMain.js") 
