doctype html
html(lang="zh-cn")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./static/css/swiper.css")
        link(rel="stylesheet", href="./static/css/touchScreen.css")
        title 触屏页面
    body
        .app
            .swiper-container.swiper-style
                .swiper-wrapper
                    .swiper-slide.js_chooseItem 1
                    .swiper-slide.js_chooseItem 2
                    .swiper-slide.js_chooseItem 3
                    .swiper-slide.js_chooseItem 4
                    .swiper-slide.js_chooseItem 5
                    .swiper-slide.js_chooseItem 6
                    .swiper-slide.js_chooseItem 7
                    .swiper-slide.js_chooseItem 8
                    .swiper-slide.js_chooseItem 9
        script(src="./static/js/jquery.js") 
        script(src="./static/js/swiper.js") 
        script(src="./static/js/touchMain.js") 