doctype html
html(lang="zh-cn")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./static/css/swiper.css")
        link(rel="stylesheet", href="./static/css/touchScreen.css")
        title 触屏页面
    body
        .app
            .swiper-container.swiper-style
                .swiper-wrapper
                    .swiper-slide.js_chooseItem#item1 金银花
                    .swiper-slide.js_chooseItem#item2 狗尾草
                    .swiper-slide.js_chooseItem#item3 喇叭花
                    .swiper-slide.js_chooseItem#item4 茉莉花
                    .swiper-slide.js_chooseItem#item5 菊花
                    .swiper-slide.js_chooseItem#item6 兰花
                    .swiper-slide.js_chooseItem#item7 郁金香
                    .swiper-slide.js_chooseItem#item8 豌豆苗
                    .swiper-slide.js_chooseItem#item9 玉兰
        script(src="./static/js/jquery.js")
        script(src="./static/js/swiper.js")
        script(src="./static/js/touchMain.js")